h2 {
    font-size: 1.5em;
}

h2.small-margin {
    margin-top: 1em;
}

h2.big-margin {
    margin-top: 2em;
}

p.normal-p {
    width:330%;
    margin-bottom:0.5em;
}

body {
    margin: 0 !important;
    padding: 0 !important;
    font-size: 1.5em;
}

#top-gray {
    background-image: url(../images/brandbarbkgd.jpg);
    background-repeat: repeat-x;
}

#top-gray {
    background-color: #c2c6cf;
    width: 100%;
}

#top-gray a {
    text-decoration: none;
    color: #1e1e1e;
}

#top-blue {
    background-color: #070050;
    width: 100%;
}

#top-blue a {
    text-decoration: none;
    color: #fff;
}

#mid-blue {
    float: left;
    width: 100%;
    margin: 0 auto;
    background-color: #235f91;
    display: block;
}

#mid-blue {
    background-image: linear-gradient(to bottom, #5684A9 0, #235F91 48%, #235F91 100%);
}

#mid-blue > a {
    display: block;
    padding: 0;
}

#mid-blue img {
    margin-left: 20px;
}

#logo-link {
    display: block;
    width: 100%;
    margin: 0;
    padding: 0;
    border: none;
}

#mid-blue h1, #mid-blue h2 {
    margin: 0 auto;
    color: #acc8d7 !important;
    font-weight: normal;
}

#mid-blue h1 {
    font-size: 1.2em;
}

#mid-blue h2 {
    font-size: 1.5em;
}

#mid-blue h2 abbr {
    display: none;
}

#logo-link {
    color: #acc8d7 !important;
    display: inline-block;
}

#desa > span {
    color: #acc8d7 !important;
}

.desa-banner {
    height: 100px;
    vertical-align: middle;
    display: inline-block;
    *display: inline;
    zoom: 1;
}

#banner-img {
    width: 100px;
    padding: 0;
}

@media screen and (max-width: 650px) {
    #mid-blue {
        text-align: left;
    }

    #mid-blue img {
        margin-left: 0;
    }

    #mid-blue h2 span {
        display: none;
    }

    #mid-blue h2 abbr {
        display: inline-block;
    }
}

#wrapper-text {
    position: absolute;
    top: 25%;
    padding-left: 10px;
}

/*--
#banner-text {
    display: inline-block;
    vertical-align: middle;
    line-height: normal;
    align-items: left;
    align-content: flex-start;
}
--*/
/* UN70 Anniversary logo */

.logo_en > a {
    background: url("../images/un70_desa_blue_en%203.png") no-repeat right center;
}

#logo-link-70y {
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    height: 100px;
    width: 200px;
    background: transparent;
}

@media screen and (max-width: 750px) {
    #mid-blue > a {
        background: none;
    }

    #mid-blue > #logo-link-70y {
        display: none;
    }
}

.menu {
    overflow: hidden;
    float: left;
    background-color: #acc8d7;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#acc8d7), to(#98b4c2));
    background-image: -webkit-linear-gradient(top, #acc8d7, #98b4c2);
    background-image: -moz-linear-gradient(top, #acc8d7, #98b4c2);
    background-image: -ms-linear-gradient(top, #acc8d7, #98b4c2);
    background-image: -o-linear-gradient(top, #acc8d7, #98b4c2);
    background-image: linear-gradient(top, #acc8d7, #98b4c2);
    clear: both;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#acc8d7, endColorstr=#98b4c2);
    /*    width: 960px !important;*/
    height: 45px !important;
    text-align: justify;
    margin: 0 auto;
    display: block;
}

.menu a img {
    /* fixes IE 8 bug where max-width:100% causes the image to be displayed
    (apparently) as block */
    max-width: inherit;
}

.menu a {
    border-left: 1px solid #585858;
    color: #235f91;
    /* display:block; */
    font-size: 13px;
    font-weight: 700;
    height: 45px;
    width: auto;
    line-height: 45px;
    margin: 0 auto;
    /*	padding:0 2.9em;
    *padding: 0 1.9em;; // Read by IE7 and earlier versions */
    padding: 0 24px;
    *padding: 0 29px;
    position: relative;
    text-decoration: none;
    /* text-shadow:0 1px 1px #242424; */
    text-shadow: none;
    text-align: justify;
    display: inline-block;
}

.menu ul li:first-child {
    border-left: none;
}

.menu ul li a:hover, .menu li li a:hover {
    color: #235f91 !important;
    text-decoration: none;
}

.sub-header-menu ul li a:hover, .sub-header-menu li li a:hover {
    color: #235f91 !important;
    text-decoration: none;
}

#bottom-blue {
    width: 100%;
    margin: 0 auto;
    padding: 0;
}

#bottom-navigator {
    width: 100%;
    margin: 0 auto;
}

#bottom-navigator li {
    text-transform: uppercase;
}

.menu a:hover {
    background-color: #235f91;
    color: #f0f8ff;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#3e76b3), to(#235f91));
    background-image: -webkit-linear-gradient(top, #3e76b3, #235f91);
    background-image: -moz-linear-gradient(top, #3e76b3, #235f91);
    background-image: -ms-linear-gradient(top, #3e76b3, #235f91);
    background-image: -o-linear-gradient(top, #3e76b3, #235f91);
    background-image: linear-gradient(top, #3e76b3, #235f91);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#3e76b3, endColorstr=#235f91);
}

.menu, .menu ul {
    display: block;
    list-style-type: none;
    margin: 0 auto !important;
    padding: 0 !important;
}

.menu li {
    border: 0;
    display: inline-block;
    float: left;
    margin: 0 auto;
    padding: 0;
    position: relative;
    z-index: 5;
    text-transform: uppercase;
}

/*navigator bar on different size of screen*/
@media screen and (max-width: 900px) {
    .menu a {
        padding: 0 19px !important;
    }
}

@media screen and (max-width: 800px) {
    .menu a {
        padding: 0 15px !important;
    }
}

@media screen and (max-width: 755px) {
    .menu a {
        padding: 0 14px !important;
    }
}

@media screen and (max-width: 725px) {
    .menu a {
        padding: 0 8px !important;
    }
}

/* other parts */
.not-front #block-system-main {
    padding-top: 0 !important;
}

#menu-9144-1 .sf-depth-1 {
    pointer-events: none;
    cursor: default;
}

.breadcrumb a:visited {
    color: #A2DDF9;
}

#panels-ipe-paneid-835 h2 {
    background: url("https://unite.un.org/sites/unite.un.org/files/alert.png") 0 center no-repeat;
    padding-left: 32px;
}

#panels-ipe-paneid-835 a {
    color: #f1635C
}

#panels-ipe-paneid-835 h2 {
    border-bottom: none;
}

#navbar #block-search-form {
    visibility: hidden;
}

#navbar #block-search-form {
    margin: 36px 0 0 0;
}

.view h3 {
    font-size: 23px;
}

.socialmedia {
    float: right;
    margin: 5px 0 0 0;
}

.socialmedia li {
    background-color: #f79422;
    display: inline-block;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    list-style: none;
    width: 30px;
    height: 30px;
}

.socialmedia li a {
    text-indent: -9999px;
    display: inline-block;
    width: 30px;
    height: 30px;
}

.socialmedia li:hover {
    opacity: .9;
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -webkit-transition: all 0.7s ease 0s;
    -moz-transition: all 0.7s ease 0s;
    -o-transition: all 0.7s ease 0s;
    transition: all 0.7s ease 0s;
    background-color: #67aedf;
}

.facebook {
    background-image: url(/sites/unite.un.org/files/facebook.png);
}

.twitter {
    background-image: url(/sites/unite.un.org/files/twitter.png);
}

.googleplus {
    background-image: url(/sites/unite.un.org/files/googleplus.png);
}

.youtube {
    background-image: url(images/youtube.png);
}

.view-services.view-id-services .view-content {
    display: flex;
    flex-wrap: wrap;
}

.view-services.view-id-services .views-row {
    margin: 0 1% 10px 0;
    width: 24%;
    /*
background: #1B75BB;
    color: #fff;
*/
    position: relative;
    padding-bottom: 40px !important;
}

.views-field-field-service-logo img {
    height: 100px;
    width: auto;
}

.views-field-field-service-logo {
    background: #6998C9;
    text-align: center;
    padding: 10px 0;
    border-radius: 3px;
    margin-bottom: 10px;
}

.views-field-field-service-logo-home {
    background: none;
    text-align: center;
    padding: 10px 0;
    border-radius: 3px;
    margin-bottom: -5px;
}

.views-field-field-service-url, .views-field-field-service-learn-more {
    position: absolute;
    bottom: 4px;
    background: #1B75BB;
    padding: 5px 8px;
    width: 50%;
    text-align: center
}

.views-field-field-service-url {
    left: 4px;
    border-right: 1px solid #FFFFFF;
    border-radius: 3px 0 0 3px;
}

.views-field-field-service-learn-more {
    right: 4px;
    border-left: 1px solid #FFFFFF;
    border-radius: 0 3px 3px 0;
}

.views-field-field-service-url a, .views-field-field-service-learn-more a {
    color: #fff;
}

.pane-content li {
    list-style: inherit;
    border: 0;
}

ul {
    padding: 0 0 0 20px;
}

.rtc-table tr:nth-child(even) {
    background: #FFF;
}

.rtc-table tr:nth-child(odd) {
    background: #E6E9F2;
}

.rtc-table th {
    background: #CFCFD0;
    padding: 5px;
}

.rtc-table td {
    padding: 5px;
}

.front.i18n-es .col-sm-12, .front.i18n-ar .col-sm-12, .front.i18n-zh-hans .col-sm-12, .front.i18n-fr .col-sm-12, .front.i18n-ru .col-sm-12 {
    background: #fff;
    padding: 15px;
}

.main-container.container {
    width: 100%;
    background: -webkit-linear-gradient(#183249 0%, #184864 100%);
    background: -moz-linear-gradient(#183249 0%, #184864 100%);
    background: -o-linear-gradient(#183249 0%, #184864 100%);
    background: -ms-linear-gradient(#183249 0%, #184864 100%);
    background-color: #183249;
    border-top: 5px solid #2AA8E0;
}

.main-container.container .row {
    max-width: 1170px;
    margin: 0 auto;
}

header#navbar {
    margin-bottom: 0;
}

nav.navigation {
    border: 0;
    background: #2aa8e0;
}

#navbar .navigation .sf-menu.sf-horizontal.sf-shadow ul {
    background: #283050;
}

h1.page-header {
    display: none;
}

.front .moscone-flipped-container.moscone-flipped-column-content {
    background: #fff;
    border-bottom: 15px solid #2AA8E0;
    margin: 0;
    padding: 50px;
}

.moscone-flipped-content-inner, .bryant-flipped-content-inner, .burr-flipped-content-inner {
    margin-right: 60px;
}

footer.footer.container {
    width: 100%;
    margin: 0;
    background: #F79422;
    border: 0;
    padding: 10px;
}

.moscone-container.moscone-footer .col-sm-4 {
    text-align: center;
    margin: 0;
    padding: 30px 0 50px 0;
}

.moscone-container.moscone-footer .col-sm-4.active {
    background: #22a9e3;
    color: #fff;
    padding: 30px 0 52px 0;
}

.moscone-container.moscone-footer .col-sm-4 h2 {
    color: #fff;
    font-weight: 700;
    font-size: 29px;
    padding: 50px;
}

.moscone-container.moscone-footer .col-sm-4 a:after {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    content: "\f067";
    display: block;
    margin-top: 50px;
}

.moscone-container.moscone-footer .col-sm-4.active:after {
    width: 0;
    height: 0;
    border-left: 30px solid transparent;
    border-right: 30px solid transparent;
    border-top: 30px solid #22A9E3;
    content: '';
    position: absolute;
    bottom: -30px;
    left: 43%;
}

.moscone-container.moscone-footer .col-sm-4 img {
    display: block;
    margin: 0 auto;
}

.front .view-services.view-id-services {
    margin: 0 -60px 0 0px;
}

.front .view-services.view-id-services .views-row {
    width: 15%;
    padding-bottom: 0 !important;
    background: transparent;
    border: 0;
    text-align: center;
    box-shadow: 0 0 0;
}

.front .view-services.view-id-services .views-row a {
    color: #2AA8E0;
}

.moscone-container.moscone-footer .col-sm-4.active a, .moscone-container.moscone-footer .nav-tabs > li > a:hover {
    background: transparent;
    border: 0;
    border-radius: 0;
    color: #fff;
}

.moscone-container.moscone-footer .col-sm-4 a {
    font-size: 28px;
    color: #fff;
    font-weight: 900;
}

div#news .views-row, div#events .views-row {
    width: 33%;
    display: table-cell;
    padding-right: 40px;
    border: 0;
}

div#news .views-row a, div#events .views-row a {
    color: #22a9e3;
    font-weight: 600;
}

.front .tab-content {
    background: #fff;
    padding: 60px 15px;
}

.region.region-footer {
    max-width: 1170px;
    margin: 0 auto;
}

footer.footer.container .block {
    display: inline-block;
}

section#block-block-10 {
    float: right;
    margin-top: 5px;
}

section#block-block-10 li {
    border: 0;
}

section#block-block-1 a {
    color: #fff;
}

section#block-block-4 {
    float: left;
    margin-top: 10px;
}

section#block-block-1 {
    margin-top: 15px;
}

.not-front #block-system-main {
    background: #fff;
    padding: 50px;
}

ol.breadcrumb {
    background: transparent;
    color: #fff;
}

#flexslider-1 {
    box-shadow: 0 0 0 #000;
    background: transparent;
    border: 0;
    float: left;
    margin: 0;
}

ol.flex-control-nav.flex-control-thumbs {
    width: 300px;
    margin: 0;
    float: right;
}

#flexslider-1 li {
    width: 100%;
    margin-bottom: 1px;
    padding: 0;
}

#flexslider-1 ul.slides {
    margin-right: 301px;
}

#flexslider-1 ul:after {
    display: none;
}

#flexslider-1 .flex-control-nav li {
    height: 111.5px;
    overflow: hidden;
}

.node-type-event .span8 {
    background: rgba(0, 0, 0, 0);
    border: 0;
    margin: 0;
    padding: 0 !important;
}

@media (max-width: 768px) {
    ol.flex-control-nav.flex-control-thumbs {
        width: 100%;
    }

    #flexslider-1 .flex-control-nav li {
        width: 24%;
        margin-right: 1%;
    }

    .flexslider ul.slides {
        margin-right: 0;
        float: left;
    }

    #flexslider-1 ul.slides {
        width: 100%;
        margin: 0;
    }
}

.moscone-container.moscone-footer .col-sm-4 {
    width: 33%;
}

.front .view-services.view-id-services .views-row {
    width: 49%;
}

.front .view-services.view-id-services {
    margin: 0;
}

div#news .views-row, div#events .views-row {
    width: 100%;
    display: block;
}

#events table {
    margin: 0;
}

.moscone-flipped-content-inner, .bryant-flipped-content-inner, .burr-flipped-content-inner {
    margin: 0;
}

.front .moscone-flipped-container.moscone-flipped-column-content {
    padding: 20px;
}

#navbar .navigation a {
    border-right: 1px solid #35befb;
    padding: 5px 15px 10px 15px;
    margin-top: 5px;
}

#navbar .navigation a:hover {
    background: #3582a5;
    text-decoration: none;
}

#navbar {
    display: none !important;
}

.breadcrumb {
    display: none !important
}

.panopoly-spotlight-buttons-wrapper {
    display: none !important
}

.page-header {
    display: none !important
}

#environment {
    background-color: blue;
}

.panopoly-spotlight-wrapper {
    display: none !important
}

.un-top {
    display: none;
}

img.panopoly-image-spotlight {
    width: 100%;
}

